html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bag-icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s linear;
}

.bag-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.bag-box {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.11);
}

.bag {
    display: grid;
    width: 470px;
    height: 290px;
    background-color: rgb(233 229 213 / 91%);
    position: fixed;
    border-radius: 5px;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    row-gap: 10px;
    column-gap: 10px;
    padding: 25px;
}

.bag-grid {
    width: 50px;
    height: 50px;
    background-color: rgb(79 79 79 / 63%);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* .bag-grid:hover {
    background-color: rgba(77, 77, 77, 0.932);
} */

.bag-grid span {
    color: rgb(48, 48, 48);
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-family: fantasy;
}

.bag-grid span:hover {
    cursor: default;
}

.bag-grid img {
    width: 40;
    height: 40;
}

.bag-grid p {
    position: absolute;
    background-color: #ffffffb0;
    border-radius: 2px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30px;
    font-family: cursive;
    font-weight: bold;
    padding: 5px;
    width: max-content;
}

.bag-conbina-box {
    position: absolute;
    background-color: rgb(233 229 213 / 91%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 5px;
    padding: 10px;
}

.hint-box {
    padding: 15px 60px;
    border-radius: 5px;
    background-color: rgba(59, 59, 59, 0.836);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 70px;
    transition: opacity 0.3s linear;
}

.hint-box-show {
    opacity: 1;
}

.hint-box-disappear {
    opacity: 0;
}

.hint-box p {
    color: white;
    font-family: cursive;
    font-size: larger;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

progress {
    position: fixed;
    left: 40px;
    top: 40px;
    background: transparent;
}

progress::-webkit-progress-value {
    background: rgb(133, 1, 1);
    border-radius: 3px;
}

progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.603);
    border-radius: 3px;
    height: 10px;
}

#death-box {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4d4d45c;
}

#death-box p {
    font-size: xxx-large;
    color: red;
    font-family: cursive;
}

.last-scene {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../../image/lastScene.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 3s linear;
}

.last-scene-show {
    opacity: 1;
}

.last-word-box {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s linear;
    background-color: white;
}

.last-word-box-show {
    opacity: 1;
}

.last-word {
    font-size: xxx-large;
    font-family: cursive;
    color: black;
    transition: opacity 1s linear;
    opacity: 1;
}

.last-word-dis {
    opacity: 0;
}

.load-word {
    font-size: xxx-large;
    font-family: cursive;
    color: white;
    opacity: 0;
    transition: opacity 1s linear;
    position: absolute;
}

.load-word-dis {
    opacity: 0;
}

.load-word-show {
    opacity: 1;
}

.wait-word {
    color: white;
    font-family: cursive;
    font-size: medium;
    position: fixed;
    bottom: 20px;
    right: 30px;
}